NEXT_PUBLIC_SITE_URL=https://lifelog42.com

NEXT_PUBLIC_GA4_MEASUREMENT_ID=G-V96Q5E11VJ
GA4_PROPERTY_ID_WEB=544433682

NEXT_PUBLIC_GTM_ID=GTM-54B3FXKC

NEXT_PUBLIC_META_PIXEL_ID=1572507577886586
NEXT_PUBLIC_IOS_APP_URL=https://apps.apple.com/us/app/lifelog42/id6751446180
NEXT_PUBLIC_ANDROID_APP_URL=https://play.google.com/store/apps/details?id=com.anonymous.lifelog
META_BUSINESS_ID=1563187741838753
META_AD_ACCOUNT_ID=552340942134672

GSC_SITE_URL=sc-domain:lifelog42.com
LIFELOG_PUBLIC_DOMAIN=https://lifelog42.com
